body{
    margin: 0 auto !important;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#app{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 60em;
    margin: 0 auto;
    min-height: unset;
}
.hero-content{
    min-height: auto;
    transition: .3s linear all;
    height: 60vh;
    width: 100%;
    position: relative;
}
.hero-content.openElement{
    position: absolute;
    width: 100%;
    left: 0;
    height: 40vh;
}

.icon.u-flexbox img{
    max-width: 35px;
}
/* STAGE */
#container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    -ms-touch-action: none;
    touch-action: none;
}
.cup_wrapper{
    position: relative;
    margin: 0 auto;
    max-width: 60vw;
    min-width: 320px;
}
#cupResult{
    display: block;
    width: 45vw;
    position: relative;
    margin: 0 auto;
}
#cupResult .cup{
    height: auto;
    width: 100%;
}
.cup_wrapper .layout{
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: unset;
}
.cup_wrapper .dash_left,
.cup_wrapper .dash_right{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.cup_wrapper .logo_starbucks{
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%);
    height: 10vh;
    z-index: 999;
}
.cup_wrapper .top{
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(3%);
    z-index: 2;
}
.cup_wrapper .cup{
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}
#stage{
    width: 100%;
    height: 100%;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 20;
    -webkit-mask-image: url(../images/tall/masking.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    top: 0;
}
#stage img,
#stage svg{
    position: absolute;
    top: 0;
    left: 0;
}
#container #stage img.active,
#container #stage svg.active{
    background-size: auto 1px;
    outline: 1px dashed transparent;
    box-shadow: 0 0 0 1px #006939;
    animation: 1s animateSelected ease infinite;
}
@keyframes animateSelected {
    to {
        outline-color: #006939;
        box-shadow: 0 0 0 1px transparent;
    }
}
/* PROPERTIES */
#ListProperties{
    z-index: 20;
    position: relative;
    background: #e2e2e2;
    margin-bottom: 0;
    max-height: none !important;
    padding-top: 10px !important;
}
#ListProperties>li>span{
    font-family: "Featherweight",sans-serif;
    font-size: 1.3rem;
    color: #00693a!important;
    display: block;
    text-align: center;
    margin: 5px 0;
}
#properties{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
#properties ul{
    list-style: none;
    padding: 0;
    width: 100%;
    display: block;
}
#properties ul li{
    display: inline-block;
    width: 18%;
    cursor: pointer;
    max-width: 80px;
    margin: 0 2%;
}
#properties ul li img{
    display: block;
    margin: 0 auto;
    box-shadow: #c3c3c3 2px 3px 1px 1px;
    border-radius: 10px;
    background: #fff;
    width: 100%;
}
.slick-slide img{
}

/* LIST ORNAMENT */
#listOrnament{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
#listOrnament{
    background: rgba(238, 238, 238, 0.5);
    padding: 0 20px !important;
    position: relative;
    z-index: 10;
    margin-bottom: 0;
    padding-bottom: 10px !important;
}
#listOrnament.colorActive{

    max-height: none;
}
#listOrnament .slick-slide{
    max-width: none;
    margin: auto;
}
#listOrnament ul{
    margin: 0 auto;
    max-height: none;
    max-width: 80px;
}
#listOrnament.labelActive li img{
    padding-bottom: 5px;
}
#listOrnament span.label{
    display: block;
    font-size: .9rem;
    color: #00693a;
    vertical-align: middle;
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 100%;
    transform: translateY(-65%);
    height: 15px;
    margin-left: -10px;
}
#listOrnament .slick-slide:focus{
    outline: none;
}
#listOrnament .slick-slide>ul>li{
    cursor: pointer;
    padding: 10px;
    margin: 0;
    width: 100%;
    position: relative;
}
#listColor{
    /*display: inline-block !important;
    width: auto !important;
    vertical-align: middle;
    padding: 0 10px !important;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);*/
    width: 100% !important;
    max-width: unset !important;
    padding: 5px 0 !important;
}
#listColor span{
    color: #00693a;
    font-size: .98rem;
}
#listColor li{
    display: inline-block !important;
    width: 20px !important;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 8px !important;
}

/* MODAL PREVIEW */
#modalPreview{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 221, 220, 0.87);
    z-index: 999;
    display: none;
}
#modalPreview>div{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
#modalPreview>div label{
    display: block;
    text-align: center;
    margin: 30px 0 15px;
    color: #00693a;
}
body .modalCup{
    z-index: 8888;
    top: 0;
    position: relative;
    display: inline-block;
}
#modalPreview .modalCup{
    max-height: 45vh;
    display: inline-block;
    position: relative;
    transform: scale(1.4);
}
.modalCup>img{
    height: 43vh !important;
    max-width: unset;
    width: auto;
}
.modalCup.result>img{
    height: 265px !important;
}
.modalCup.result .tutup{

    height: auto !important;

    width: 100%;

    position: absolute;

    z-index: 9;
}
.modalCup.result #modalStage>div{

    position: relative;

    height: 100%;

    top: 50%;

    height: fit-content;

    transform: translateY(-40%) translateX(-50.7%);
}
.modalCup.result .cup_wrapper{

    max-width: unset;

    min-width: auto;

    width: unset;
}
#modalStage{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-mask-image: url(../images/tall/masking_cup.png);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

#modalStage>div{
    width: 100vw;
    left: 50%;
    position: fixed;
    transform: translateX(-50.7%);
}
#modalStage>div img{
    left: 0%;
    top: 0;
    height: auto;
}
#modalStage .layout{
    width: auto;
    max-height: 50vh;
    margin: 0 auto;
    display: block;
    max-width: 100vw;
}
#modalStage .layout,
#modalStage .dash_left,
#modalStage .dash_right{
    visibility: hidden;
}
#modalStage .result.layout{
    visibility: visible;
}

/* SLICK */
.slick-next:before,
.slick-prev:before{
    color: #1e6700 !important;
}
.slick-next {
    right: 5px !important;
}
.slick-prev{
    left: 5px !important;
}

/* BOTTON */
#submitBtn{
    -ms-touch-action: none;
    touch-action: none;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 30;
    height: 2.5125rem;
    transform: translateY(-50%);
    margin-top: -10px;
    font-size: 1.2rem;
    padding: 0 5%;
}
.btnClose{
    position: absolute;
    right: 3px;
    border-radius: 50%;
    background: url(../images/btnClose.png);
    border: none;
    font-weight: bold;
    color: #fff;
    line-height: 16px;
    width: 20px !important;
    height: 20px;
    top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}
#btnAction{
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateY(-100%);
    text-align: center;
}
#btnAction a{
    display: inline-block;
    width: 55px;
    margin: 5px;
    height: 55px;
    background: #00693a;
    color: #fff;
    font-size: .76rem;
    border-radius: 50%;
}
#btnAction a img{
    padding: 8px 16px 3px;
}
#btnAction a span{

}
/* LOADING */
#loading{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00693a;
    display: none;
}
.lds-ring {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
